{"name":"mysqlwriter","parameter":{"writeMode":"insert","username":"{{writer_mysql_user}}","password":"{{writer_mysql_pass}}","column":[{{table.COLUMNS}}],"preSql":["truncate table {{table.TABLE_NAME}}"],"connection":[{"jdbcUrl": "jdbc:mysql://{{writer_mysql_host}}:{{writer_mysql_port}}/udesk_proj?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8","table":["{{table.TABLE_NAME}}"]}]}}
