{"name":"mysqlreader","parameter":{"username":"{{reader_mysql_user}}","password":"{{reader_mysql_pass}}","connection":[{"querySql":["{{table.SQL}}"],"jdbcUrl": ["jdbc:mysql://{{reader_mysql_host}}:{{reader_mysql_port}}/{{reader_mysql_db}}?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8"]}]}}
